html {
  text-align: center;
  font-family: Helvetica;
  color: gray;
}
h1{
  font-size: 70px;
  font-weight: bold;
}
nav {
  font-size: 18px;
}
.white {
  color: white;
}
.gray{
  background-color: gray;
}
